.header{
	height: 48px;
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: center;
	align-items: center;
	background-color: white;
  }

.header nav{
	display: flex;
	justify-content: space-around;
	align-items: center; 
}

.link {
	text-transform: uppercase;
	font-family: Copperplate;
}
